@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&display=swap');

.app {
    height: 100vh;
    width: 100vw;
    background-position: center center;
    background-size: cover;
    position: relative;
    font-family: "Merriweather Sans", sans-serif;
    color: white;
    transition-duration: 0.5s;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content > * {
    justify-content: space-around;
}

.search-input {
    display: flex;
    position: absolute;
    margin: 80px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(1px);
    overflow: hidden;
    padding: 3px;
}

.search-input>input {
    font-size: 1.5rem;
    border: none;
    outline: none;
    color: white;
    background: transparent;
}

.search-input>input::placeholder {
    color: white;
    opacity: .5;
}

.search-button {
    cursor: pointer;
    transform: scale(1.2);
    margin-right: 10px;
}

.search-button:hover {
    transform: scale(1.4);
}

.weather-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: auto;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    padding: 1rem;
}

.degree {
    font-size: 10vh;
}

.location {
    font-size: 2vh;
}

@media(max-width: 430px) {
    .degree {
        font-size: 7vh;
    }
    
    .location {
        font-size: 1.5vh;
    }
}
